@media(max-width:670px){



    body{
        overflow:hidden;
        display:block;
        font-family: 'Russo One', sans-serif;
    }

    header{
        height:500px;

    }

    .header-title h1{
        font-family:sans-serif;
    }

    .pattern-right img{
        width:100%;
        height:100px;
    }


    .header-right a{
        padding:100px auto;
    }

    .main-title{
        width:100%;
        padding:15px 15px;

    }

    .main-information{
        width:100%;
        padding:0 15px;
    }


    .shokusaru-img ,.tufs-img{
        width:80%;
        margin:20px 30px;

    }


    .pattern-left{
        width:70%;
        height:100px;
    }
    footer{
        margin-top:200px;
    }

    .footer-wrapper{
        margin-top:300px;
        background-image:url("cork-clogheen.jpg");
    }


.modal-text p{
    font-size:10px;
}

.map{
    margin-top:30px;
    padding:30px;
}

    .twitter a:active,.map:active{
        background-color:rgba(0,0,0,0.5);
        overflow:hidden;
        text-decoration:none;
        transition:all 0.5s;
        color:#fff;

    }

.map p{
font-size:x-small;
    font-weight:bold;

}


.twitter a,.map{
    height:100px;
    width:100px;
    border-radius:50px;
}

}

