body{
  display:block;
}
 header{
  background-image:url('shokusaru3.png');
  background-size:cover;
  height:400px;
}

.header-bar{
  height:100px;
  background-color:#990000;
  opacity:0.8;
  background-size:cover;
}

.header-right a{
  float:right;
  font-weight:bold;
  padding: 39px 60px;
  display:inline-block;
  text-align:center;
  color:white;
  text-decoration:none;
  transition: all 0.5s;

}
.header-right a:hover {
  background-color:rgba(0,0,0,0.5);
  overflow:hidden;
  text-decoration:none;

}




.pattern-right {
  height:100px;
  text-align:right;
}

.pattern-right img{
  width:950px;
  height:200px;
}

.header-title{
  padding-top:100px;
  text-align:center;
}

.header-title h1{

  font-size:60px;
  font-style:bold;
  font-family:'Impact';
  color:white;
}

.header-title p{
  font-weight:bold;
  margin-bottom:10px;
  color:white;
}



.main-title{
  padding-top:200px;
  width:600px;
}

.main-title h2, .main-information h3{
  background-color:gray;
  color:white;
  font-size:50px;
  font-family:'Impact';
}
.main-title p,.main-information p{
  font-size:20px;
  font-weight:bold;
}

.shokusaru-img{
  width:600px;
  margin-left:700px;
  float:left;
}

.pattern-left{
  height:180px;
  width:800px;
}

.main-information-wrapper{
  margin-left:auto;
  width:600px;
}

.tufs-img{
  width:500px;

  margin-right:auto;
  float:left;
}

.shokusaru-img .tufs-img{
  box-shadow:20px 30px #222222;
  opacity:0.8;
}
